.header {
	text-align: center;
	background-color: rgb(255, 255, 255);
	margin-top: 40px;
}

.navbar a {
	text-decoration: none;
	color: rgb(240, 69, 188);
	margin-right: 5px;
	padding: 5px;
	font-size: 25px;
	line-height: 20px;
}

.navbar a:hover {
	background-color: lightgray;
}
