.header {
	text-align: center;
	background-color: rgb(255, 255, 255);
	margin-top: 40px;
}

.navbar a {
	text-decoration: none;
	color: rgb(209, 4, 148);
	font-size: 25px;
	margin-right: 50px;
}

.navbar a:hover {
	background-color: lightgray;
}
