.background-image {
	background-image: url('../../images/bannerbackground.png');
	height: 500px;
	width: auto;
}
.signup-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 400px;
}
